.product-item {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-item__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 460px;
}

.product-item__image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  overflow: hidden;
}

.product-item__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-item__info {
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-item__info h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #f1f1f1;
}

.product-item__info h3 {
  font-size: 1rem;
  color: #ffd900;
  margin-bottom: 1rem;
}

.product-item__info p {
  font-size: 0.9rem;
  color: #aaa;
  margin-top: auto;
}
/* 
.product-item__actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.3);
}

.product-item__actions button,
.product-item__actions a {
  margin: 0;
  padding: 0.6rem 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #ddd;
  background: transparent;
  transition: all 0.3s ease-in-out, background 0.3s ease-in-out;
}

.product-item__actions button:hover,
.product-item__actions a:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
  color: #000;
  box-shadow: 0 0 8px rgba(255, 217, 0, 0.4);
} */

.btn--view {
  margin: 0;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #111;
  background: linear-gradient(45deg, #fffbea, #fef6e4, #f3ede2, #e7e2da);
  background-size: 300% 300%;
  animation: pulseGradientSoft 6s ease infinite;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}

.btn--view:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.3);
  color: #000;
}

@keyframes pulseGradientSoft {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
